<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
</form>
<ul class="gallery" id="gallery"></ul>
<button type="button" disabled="true" class="load-more-btn" data-action="Load more">Load more</button>